* {
    padding:0;
    margin:0;
    outline:0;
}
.cl {
    font-size:0;
    line-height:0;
    height:0;
    display:block;
    clear:both;
}
body{
    background:#383933 url(images/bg.jpg) repeat-y center 0;
    font-family:Arial, sans-serif;
    color:#b8b8b8;
    font-size:11px;
    line-height:16px;
}
a{
    color:#efd125;
    text-decoration: underline;
    cursor:pointer;
}
 .m-b-md {
                margin-bottom: 30px;
            }
a:hover{
    text-decoration:none
}
a img{
    border:0;
}
.shell{width:950px; margin:0 auto; background:url(images/shell-bg.png) repeat-y; padding-bottom:60px}

.left{float: left; display: inline;}
.right{float: right; display: inline;}

#header{height:107px; background:url(images/header-bg.gif) repeat-x 0 bottom; margin-left:10px; width:940px}

h1#logo{
	background-image: none;
	font-size: 0;
	line-height:0;
	width:227px;
	height:39px;
	float: left;
	display: inline;
	padding-left:12px;
	padding-top:35px;
}
h1#logo a{
	display: block;
	text-indent: -4000px;
	height:39px;
	background:url(images/logo.gif);
}

h2{font-size: 16px; color:#000; line-height: 33px; border-bottom:solid 1px #000; background:#eed025; padding-left:15px}

#nav{float: right; display: inline; padding-top:45px}
#nav ul{list-style-type: none; font-family: "trebuchet ms", sans-serif; text-transform: uppercase; font-weight: bold;}
#nav li{float: left; display: inline; padding-right:38px; font-size: 15px;}
#nav li a{float: left; display: inline; color:#fff; text-decoration: none; }
#nav li a:hover, #nav li a.active{color:#f5db2d}

#content{padding-top:31px; width:913px; margin-left:12px}

#sidebar{width:284px; float: left; display: inline;}
#sidebar h2{background-image:url(images/h2-small.gif); background-repeat: no-repeat; background-position: right 0;}
#sidebar .box{width:284px; margin-bottom:14px}
#sidebar .box ul{list-style-type: none;padding-left:7px; padding-top:14px}
#sidebar .box li{padding-bottom:7px}
#sidebar .box li a.image{float: left; margin-right:6px}
#sidebar .box li a.image img{display: block; border:solid 1px #eed025; padding:1px}
#sidebar .box li a{ color:#fff; text-decoration: none;}
#sidebar .box li a:hover{ color:#efd125; }

#sidebar .box li h5{font-size: 12px; color:#fff}
#sidebar .box li p{font-size: 11px; color:#b8b8b8}
#sidebar .box li .info{float: left; display: inline; width:195px}

.search .field{
	background:#292929 url(images/search.gif) no-repeat 6px 5px; 
	border:0; 
	font-size: 14px; 
	line-height: 17px; 
	text-transform: uppercase; 
	color:#e4e4e4; 
	width:208px; 
	padding:8px 0;
	padding-left:38px;
	float: left; 
	display: inline;
}
.search .btnp input{
	float: left; 
	display: inline; 
	font-size: 14px; 
	line-height:33px; 
	text-transform: uppercase; 
	text-align: center; 
	color:#e4e4e4; 
	width:35px; 
	height:33px; 
	border:0; 
	background:#292929; 
	margin-left:2px;
}
.search .btnp{float: left; display: inline; height:33px}

.links{padding-top:15px}
.links a{ background:url(images/links.gif) repeat-x; line-height: 33px; width:134px; font-size: 13px; color:#fff; text-align: center; text-decoration: none;}



.box{background:url(images/dot.png); padding-bottom:7px}
.box a.up{text-transform: uppercase; float: right; margin-right:12px}
.box ul{list-style-type: none;}
.box li h4 a{ color:#fff; text-decoration: none;}
.box li h4 a:hover{ color:#efd125; }
.box li a.image{float: left;}
.box li a.image img{display: block; border:solid 1px #eed025; padding:1px}
.box li .info{float: left; display: inline; }

#main{float: right; display: inline; width:603px}
#main ul.navigate{float: right; display: inline; list-style-position: outside; list-style-type: none; padding-left:20px; padding-top:2px; width:33px}
#main ul.navigate li{width:27px; float: left; padding-left:6px; height:27px; padding-bottom:5px}
#main ul.navigate li.active{background:url(images/yellow-arr.gif) no-repeat 0 8px;}
#main ul.navigate li.active a{background:#f9de32}
#main ul.navigate li.active a:hover{text-decoration: none;}
#main ul.navigate li a{width:27px; font-size: 14px; color:#000; text-align: center; line-height:27px; background:#fff; float: left;  text-decoration: none;}
#main ul.navigate li a:hover{text-decoration: underline;}
#main .box{width:603px; margin-bottom:18px; padding-bottom:18px}
#main .box h2{width:588px; background:#eed025 url(images/h2-long.gif) no-repeat right 0; margin-bottom:15px}
#main .box ul.line{width:603px; padding-left:0}
#main .box ul.line li{float: left; display: inline;padding-left:13px; padding-bottom:0}
#main .box ul.line li a{ font-weight: bold; float: none;}
#main .box ul.line li a.frm{display: block; margin-bottom:10px}
#main .box ul.line li a img{display: block; padding:1px;}
#main .box ul {padding-left:13px}
#main .box li {padding-bottom:24px}
#main .box li .info{padding-left:11px; float: left; display: inline; width:390px}
#main .box li .info h4{font-size: 15px; color:#fff; padding-bottom:10px}
#main .box li .info a.up{float: left;}
#main .box li .info p{padding-bottom:12px}

.transparent-frame{width:550px; height:286px; position:relative; z-index: 1; float: right; display: inline; margin-bottom:12px}
.transparent-frame .frame{background:url(images/transparent-frame.png) no-repeat; width:550px; height:286px;position:absolute; top:0; left:0; z-index: 10;}

#footer{height:47px; font-size: 11px; color:#b8b8b8; text-align: right; line-height: 47px; text-transform: uppercase; background:url(images/dot.png); width:890px; margin-left:12px; padding-right:20px}
#footer a{ color:#b8b8b8; }